@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    You see the whole country of this system <br />
    Is just a position by the hemoglobin in the atmosphere<br />
    Roop Mahal Prem Gali Kholi Number 420 <br />
    <abbr title="Phone">Phone:</abbr>
    98721DumDigaDumm
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">dillas@berozgaar.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@berozgaar.com</a>
</address>